POSTGRES_DB=openrtls
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DEMO_APP_PORT=8080
DEMO_SIGNOZ_PORT=8090
DEMO_POSTGRES_PORT=5432
DEMO_DEX_PORT=5556
DEMO_MQTT_PORT=1883
DEMO_MQTT_WS_PORT=9001
DEMO_STATE_DIR=./state
DEMO_SIGNOZ_DIR=./state/signoz
DEMO_SIGNOZ_REF=v0.117.1
DEMO_SIGNOZ_ADMIN_NAME=Local Admin
DEMO_SIGNOZ_ADMIN_EMAIL=admin@local.test
DEMO_SIGNOZ_ADMIN_PASSWORD=SignozAdmin123!
