HUB_PORT=8080
MQTT_PORT=1883
MQTT_WS_PORT=9001
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

POSTGRES_DB=openrtls
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

LOG_LEVEL=info
AUTH_AUDIENCE=open-rtls-hub
AUTH_ALLOWED_ALGS=RS256
AUTH_ROLES_CLAIM=groups
AUTH_OWNED_RESOURCES_CLAIM=owned_resources
AUTH_OIDC_REFRESH_TTL=10m
AUTH_HTTP_TIMEOUT=5s

OTEL_SERVICE_NAME=open-rtls-hub
OTEL_DEPLOYMENT_ENVIRONMENT=hetzner

COLLISIONS_ENABLED=true
KALMAN_FILTER_ENABLED=true
KALMAN_EMIT_MAX_FREQUENCY_HZ=2
